################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/*
/.vs/*
/YoutubeExplodes/obj
/YoutubeExplodes/bin